<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.novikov_dm.studystraus">

    <application
        android:allowBackup="true"
        android:icon="@drawable/picture"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="ru.novikov_dm.studystraus.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ru.novikov_dm.studystraus.InfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="ru.novikov_dm.studystraus.Problems1Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="ru.novikov_dm.studystraus.Problems2Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="ru.novikov_dm.studystraus.Problems3Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="ru.novikov_dm.studystraus.Problems4Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="ru.novikov_dm.studystraus.Problems5Activity"
            android:screenOrientation="portrait">
        </activity>

    <activity android:name="ru.novikov_dm.studystraus.EndScreenActivity"
        android:screenOrientation="portrait">

    </activity>
    </application>

</manifest>